.section_4{
    text-align: center;
    margin: auto;
    padding: 40px 0;
    background-color: #F3F3F3;
}

.group-items{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 790px;
}

.item-section4{
    padding: 24px;
    border-radius: 12px;
    border: 1px solid #C5C8B9;
}

.number{
    margin: 0;
    font-size: 57px;
    color: #8AC732;
    font-weight: bold;
}

.title{
    font-size: 16px;
    color: #8D918C;
    text-align: start;
    margin-top: 16px;
    margin-bottom: 0;
}